.cdeDiv{
    display: flex;
    padding-left: 20px;
    flex-direction: row;
}
.cdeDesc{
    display: flex;
    align-items: center;
    padding: 3px;
    flex:1;
}
.inputStyles{
    margin: 10px;
}
.cdeValue{
    flex:3;
    margin: 3px!important;
    display: flex;
    align-items: flex-start;
}
.flexCdes{
    display: flex;
    flex-wrap: wrap;
}