/* .card{
    width: 80%;
    padding: 10px;
    margin-left: 10%;
    margin-top: 10px;
    box-shadow: 1px 1px 1px 1px gray;
    background: white;
} */

.medications{
    display: flex;
     flex-direction: row;
      flex-wrap: wrap 
    }

    .medicines{
            display: flex;
            flex-direction: row;
            
            justify-content: space-between;
            padding: 6px; margin: 9px; margin-top: 0px;
            border-radius: 5px; border-width: 1px; background-color: #607D8B; border-color: #333
        }

        .editBtns{
            display:flex;flex-direction: row;
            justify-content:flex-end; min-width: 50px 
            }

            .inputBlock{
                display: flex;
                flex-direction: row;
                padding: 10px;
            }

.autocompleteClass{

}

.autoOPtions{
    position: absolute;
    background: white;
    min-width: 190px;
    z-index: 9999;
}

.optionClass{
    cursor: pointer;
    background: white;
    padding: 6px; margin: 3px; 
    border-radius: 5;
}
.optionClass:hover{
    background: rgb(0, 89, 204);
    color: white;
    border-radius: 5; border-width: 1; border-color: '#333'
}
.medicineBlock{
    display: flex;
flex-direction: column;
align-items: center;
}
.addMedicine{
    padding: 10px;
    width: 100px;
    text-align: center;
    border-radius: 5px;
    background-color: rgb(21, 76, 102);
}